_isalpha.c
_memcpy.c
_puts.o
_strcmp.o
_strpbrk.o
_isalpha.o
_memcpy.o
random
_strcpy.c
_strspn.c
_isdigit.c
_memset.c
random.c
_strcpy.o
_strspn.o
_abs.c
_isdigit.o
_memset.o
_strlen.c
_strstr.c
_abs.o
_islower.c
shlib.so
_strlen.o
_strstr.o
_atoi.c
_islower.o
_strcat.c
_strncat.c
test.py
_atoi.o
_isupper.c
nrandom.so
_strcat.o
_strncat.o
calc.c
_isupper.o
_putchar.c
_strchr.c
_strncpy.c
calc.o
_putchar.o
_strchr.o
_strncpy.o
gm
_puts.c
_strcmp.c
_strpbrk.c
